<!-- Filename: footer.ejs
Student's name : Ngo Tran Manh Hiep.
Student ID: 301121528.
Web app name: http://localhost:3000
Date: 26nd Oct 2021  -->

<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>